#root {
  margin: 0 auto;
}

.app {
  display: flex;
}

.sidebar {
  width: 100px;
  color: white;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  border-right: 2px solid #4c4c4c;
}

.content {
  margin-left: 100px;
  box-sizing: border-box;
  flex: 1;
}

.header {
  border-bottom: 2px solid #4c4c4c;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div {
  width: 20px;
  height: 20px;
  color: #fff;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

.chart{
  background-color: #2e2e3e;
  border-radius: 10px;
  padding: 20px;
}

.chart_lg {
  grid-column: span 2;
  grid-row: span;
}

.chart_sm {
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar_chart h3,
.line_chart h3,
.pie_chart h3,
.scatter_chart h3 {
  font-family: "Noto Sans", sans-serif;
  color: #7f7f7f;
  font-weight: 400;
}

.custom-tooltip {
  background-color: rgb(135, 206, 235, 0.7);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .charts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .charts {
    grid-template-columns: 1fr;
  }

  .chart_sm,
  .chart_lg {
    grid-column: span 1;
    grid-row: span 1;
  }
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}
